@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Create a persona", "add", "home") | @Html.ActionLink("Create a profile", "AddProfile", "Profile")
    </div>
</body>
</html>
