
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>let--colors</title>
</head>
<body>
    
    @Html.DropDownList("colors", new SelectList(ViewBag.colors))
</body>
</html>
